name: Verificação de erros do Gradle

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configura o JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Executa o Gradle
        run: ./gradlew assembleMinApi26Debug --scan --stacktrace

      - name: Verifica se há erros
        run: |
          if grep -q "BUILD FAILED" ./build/reports/buildScan/report.log; then
            echo "Erros encontrados!"
            exit 1
          else
            echo "Nenhum erro encontrado."
          fi
